*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
body {
    font-family: 'Helvetica';
    font-size: 2em;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
}
input {
    height: 50px;
    width: 300px;
    font-size: 1.2em;
}
form{
    width: 24%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;  
}

.btn-primary{
    width: 100;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
    
}

#title{
    color: azure;
    text-align: center;  
}
.welcomePanel{
    color: azure;
    text-align: center; 
}
